// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Light Tones
$primary-white: #fff;
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Dark Tones
$primary-black: #000;
$aye-comfort-dark: #333;
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Green Tones
$light-green: #014e56;
$lighter-green: #79C8C7;
$dark-green: #004047;
$darker-green: #012f34;
$darkest-green: #002529;
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Red Tones
$primary-red: #F67E7E;
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONTS
$Livvic: "Livvic", "Arial", "sans-serif";